body {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    background-color: black;
}

header {
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header h1 {
    color: whitesmoke;
    background-color: darkorchid;
    font-size: 20px;
    font-weight: bold;
}